
body {
  background-color: #ddd;
  padding: 0px;
  margin: 0px;
}

.button {
  color: white !important;
  border-radius: 3px;
  min-width: 100px;
  padding: 4px 15px;
  margin: 2px;
  background-color: #313131;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100% from(#666), to(#151515));
  background-image: -moz-linear-gradient(90deg, #666, #151515);
  background-image: -webkit-linear-gradient(bottom, #666 0%, #151515 100%);
}
.button-add {
  font-weight: bolder;
  padding: 0px;
  min-width: 17px;
  margin: 0px;
}
.button-remove {
  color: red !important;
  font-weight: bolder;
  padding: 0px;
  min-width: 18px;
  margin: 0px;
}

#header {
  background-color: #ddd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100% from(#ddd), to(#151515));
  background-image: -moz-linear-gradient(90deg, #ddd, #151515);
  background-image: -webkit-linear-gradient(bottom, #ddd 0%, #151515 100%);
}

#footer {
  background-color: #ddd;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0% from(#ddd), to(#151515));
  background-image: -moz-linear-gradient(-90deg, #ddd, #151515);
  background-image: -webkit-linear-gradient(bottom, #151515 0%, #ddd 100%);
}

#title {
  color: black;
  text-shadow: 1px 1px 4px white, 1px 1px 5px #eee;
}
#control-background {
  background-color: #ddd;
  opacity: 0.8;
}
#control-outer {
  background-color: transparent;
  opacity: 1.0;
}
#epStatus-outer, #epInfo-outer {
  border-style: solid;
  border-color: #888;
  border-width: 0px 1px 1px 0px;
}
#epStatus-inner, #epInfo-inner {
  font-size: 0.8em;
}
#epStatus-outer {
  background-color: #eee;
}
#epStatus-inner {
  font-size: 0.7em;
  color: red;
  padding: 0% 2%;
}

#epPadName,
#epSessionID,
#epc_basepath {
 opacity: 0.5;
}

#popupTitle {
  margin-top: 0px; 
  margin-bottom: 5px; 
}
.popup-background {
  display: none;
  opacity: 0.9;
  background-color: #fff;
}
.popup-outer {
  display: none;
  background-color: transparent;
}
.popup-inner {
  opacity: 1.0;
  color: white;
  background-color: #343434;
  padding: 15px;
  text-align: left;
  border:2px solid #333;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 0 50px #ccc;
  -webkit-box-shadow: 0 0 50px #ccc;
}

